@model TunashaProjects.Models.OrderViewModel
@using TunashaProjects.Misc;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>New Order</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <style>
        input {
            max-width: 300px;
        }
        textarea {
            max-width: 500px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-navbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Tunasha</a>
                </div>
                <div class="collapse navbar-collapse" id="blog-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Blog", "Index", "Blog", null, new { @class = "text-uppercase" })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Shop<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("All Items", "Index", "Shop")</li>
                                <li role="separator" class="divider"></li>
                                @if (User.IsInRole("User"))
                                {
                                    <li>@Html.ActionLink("My Orders", "Index", "MyOrder")</li>
                                    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">PIC MICROCONTROLLER</a></li>
                                <li><a href="#">Datasheets</a></li>
                                <li>@Html.ActionLink("Reference Manual", "")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="">ATMEL MICROCONTROLLER</a></li>
                                <li><a href="#">Datasheets</a></li>
                                <li>@Html.ActionLink("Reference Manual", "")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">ARDUINO</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Forum", "Index", "Forum", null, new { @class = "text-uppercase" })</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                        }
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                        }
                        @if (Session["CartGUID"] != null)
                        {
                            <li>
                                <a href="~/MyCart">
                                    <i class="fa fa-shopping-cart"></i> @Html.QuantityInCart(Session["CartGUID"].ToString())
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <h3>New Order</h3>
            </div>
        </div>
    </main>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerPhone2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerPhone2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerPhone2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerAddress2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerAddress2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAddress2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Place Order" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">Tunasha</div>
                    <p>
                        At Tunasha, we are on a mission to help our customers with all they need for their electronics
                        projects. Tools, components, techniques, lessons, we've got it all.
                    </p>
                </div>
                <div class="col-md-3">
                    <p><b>Contact Us</b></p>

                    <div class="address-panel">
                        <span class="flag nigeria"></span>
                        <strong>1, Jerry Iriabe, Lekki, Lagos NG</strong><br>
                        <p>+234 8060989216 <br />+234 8137755683</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <p><strong>Email: </strong><span id="contact_mail">akinsegun06@yahoo.com</span></p>
                    <p>&copy;2016 Tunasha. All Rights Reserved.</p>
                </div>
                <div class="col-md-3">
                    <p><b>Social Media</b></p>
                    <ul class="social-media">
                        <li>
                            <a>
                                <div class="social-icon-div" id="twitter"><i class="fa fa-twitter fa-2x"></i></div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="social-icon-div" id="facebook"><i class="fa fa-facebook-f fa-2x"></i></div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/siteScript")
</body>
</html>
