@model PagedList.IPagedList<TunashaProjects.Models.Cart>
@using PagedList.Mvc;
@using TunashaProjects.Misc;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>My Cart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-navbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Tunasha</a>
                </div>
                <div class="collapse navbar-collapse" id="blog-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Blog", "Index", "Blog", null, new { @class = "text-uppercase" })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Shop<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("All Items", "Index", "Shop")</li>
                                <li role="separator" class="divider"></li>
                                @if (User.IsInRole("User"))
                                {
                                    <li>@Html.ActionLink("My Orders", "Index", "MyOrder")</li>
                                    <li>@Html.ActionLink("Cart", "Index", "MyCart")</li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">PIC MICROCONTROLLER</a></li>
                                <li><a href="#">Datasheets</a></li>
                                <li>@Html.ActionLink("Reference Manual", "")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="">ATMEL MICROCONTROLLER</a></li>
                                <li><a href="#">Datasheets</a></li>
                                <li>@Html.ActionLink("Reference Manual", "")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">ARDUINO</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Forum", "Index", "Forum", null, new { @class = "text-uppercase" })</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                        }
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                        }
                        @if (Session["CartGUID"] != null)
                        {
                            <li>
                                <a href="~/MyCart">
                                    <i class="fa fa-shopping-cart"></i> @Html.QuantityInCart(Session["CartGUID"].ToString())
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="forum-questions">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 page-header">
                        <div>
                            <span class="h3">My Cart</span>
                            @if (Model.Count > 0)
                            {
                                <span class="pull-right">
                                    <a href="~/MyOrder/NewOrder" class="btn btn-warning">Place Order</a>
                                </span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        @if (Model.Count == 0)
                        {
                            <div class="h2 text-danger">
                                No item in cart
                            </div>
                        }
                        <ul class="list-group">

                            @foreach (var item in Model)
                            {
                                <li class="list-group-item">
                                    <div>
                                        <span class="lead">@item.Product.Name</span>
                                        <b class="pull-right text-success">@item.Product.Price</b>
                                        <br />
                                        @item.Product.Description<br />
                                        <a data-toggle="modal" href="#delete-comment" data-whatever="@item.ID">
                                            <span class="answer"><i class="fa fa-remove"></i> remove from cart</span>
                                        </a>
                                    </div>
                                </li>
                            }
                        </ul>
                        <br />
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
                        @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>

                    <span class="clearfix">
                    </span>
                    @if (Model.Count > 0)
                    {
                        <span>
                            <a href="~/MyOrder/NewOrder" class="btn btn-warning">Place Order</a>
                        </span>
                    }
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">Tunasha</div>
                    <p>
                        At Tunasha, we are on a mission to help our customers with all they need for their electronics
                        projects. Tools, components, techniques, lessons, we've got it all.
                    </p>
                </div>
                <div class="col-md-3">
                    <p><b>Contact Us</b></p>

                    <div class="address-panel">
                        <span class="flag nigeria"></span>
                        <strong>1, Jerry Iriabe, Lekki, Lagos NG</strong><br>
                        <p>+234 8060989216 <br />+234 8137755683</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <p><strong>Email: </strong><span id="contact_mail">akinsegun06@yahoo.com</span></p>
                    <p>&copy;2016 Tunasha. All Rights Reserved.</p>
                </div>
                <div class="col-md-3">
                    <p><b>Social Media</b></p>
                    <ul class="social-media">
                        <li>
                            <a>
                                <div class="social-icon-div" id="twitter"><i class="fa fa-twitter fa-2x"></i></div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="social-icon-div" id="facebook"><i class="fa fa-facebook-f fa-2x"></i></div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
</body>

<div class="modal fade" id="delete-comment" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title text-center text-danger">Remove from cart</h2>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you sure you want to remove this item ?</p>

                @using (Html.BeginForm("Delete", "MyCart", new { }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <input type="hidden" name="id" class="question-id">
                    <button type="submit" class="btn btn-danger text-uppercase">Continue</button>
                }

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/siteScript")

@*<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
            tinymce.init({ selector: 'textarea' });
    </script>*@
<script type="text/javascript">
    $('#delete-comment').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('whatever')
        var modal = $(this)
        modal.find('.question-id').val(id)
    })
</script>


</html>
