@model TunashaProjects.Models.Post
@using TunashaProjects.Misc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="blog">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-navbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Tunasha</a>
                </div>
                <div class="collapse navbar-collapse" id="blog-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Blog", "Index", "Blog", null, new { @class = "text-uppercase" })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Shop<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("All Items", "Index", "Shop")</li>
                                <li role="separator" class="divider"></li>
                                @if (User.IsInRole("User"))
                                {
                                    <li>@Html.ActionLink("My Orders", "Index", "MyOrder")</li>
                                    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">PIC MICROCONTROLLER</a></li>
                                <li><a href="#">Datasheets</a></li>
                                <li>@Html.ActionLink("Reference Manual", "")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="">ATMEL MICROCONTROLLER</a></li>
                                <li><a href="#">Datasheets</a></li>
                                <li>@Html.ActionLink("Reference Manual", "")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">ARDUINO</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Forum", "Index", "Forum", null, new { @class = "text-uppercase" })</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                        }
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                        }
                        @if (Session["CartGUID"] != null)
                        {
                            <li>
                                <a href="~/MyCart">
                                    <i class="fa fa-shopping-cart"></i> @Html.QuantityInCart(Session["CartGUID"].ToString())
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="h1 page-header">
            Edit Post
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Post</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.PostID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.DisableComment, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.DisableComment)
                            @Html.ValidationMessageFor(model => model.DisableComment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-info" />
                    </div>
                </div>
            </div>
        }

        <span class="clearfix"></span>
        <div>
            @Html.ActionLink("Back", "Index")
        </div>
        <span class="clearfix"></span>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">Tunasha</div>
                    <p>
                        At Tunasha, we are on a mission to help our customers with all they need for their electronics
                        projects. Tools, components, techniques, lessons, we've got it all.
                    </p>
                </div>
                <div class="col-md-3">
                    <p><b>Contact Us</b></p>

                    <div class="address-panel">
                        <span class="flag nigeria"></span>
                        <strong>1, Jerry Iriabe, Lekki, Lagos NG</strong><br>
                        <p>+234 8060989216<br /> +234 8137755683</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <p><strong>Email: </strong><span id="contact_mail"> akinsegun06@yahoo.com</span></p>
                    <p>&copy;2016 Tunasha. All Rights Reserved.</p>
                </div>
                <div class="col-md-3">
                    <p><b>Social Media</b></p>
                    <ul class="social-media">
                        <li>
                            <a>
                                <div class="social-icon-div" id="twitter"><i class="fa fa-twitter fa-2x"></i></div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="social-icon-div" id="facebook"><i class="fa fa-facebook-f fa-2x"></i></div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/siteScript")
    @Scripts.Render("~/bundles/jqueryval")

</body>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
    tinymce.init({ selector: 'textarea' });
</script>

</html>
