@model PagedList.IPagedList<TunashaProjects.Models.Post>
@using PagedList.Mvc;
@using TunashaProjects.Misc;

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Blog Posts</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="blog">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-navbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Tunasha</a>
                </div>
                <div class="collapse navbar-collapse" id="blog-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Blog", "Index", "Blog", null, new { @class = "text-uppercase" })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Shop<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("All Items", "Index", "Shop")</li>
                                <li role="separator" class="divider"></li>
                                @if (User.IsInRole("User"))
                                {
                                    <li>@Html.ActionLink("My Orders", "Index", "MyOrder")</li>
                                    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">PIC MICROCONTROLLER</a></li>
                                <li><a href="#">Datasheets</a></li>
                                <li>@Html.ActionLink("Reference Manual", "")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="">ATMEL MICROCONTROLLER</a></li>
                                <li><a href="#">Datasheets</a></li>
                                <li>@Html.ActionLink("Reference Manual", "")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">ARDUINO</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Forum", "Index", "Forum", null, new { @class = "text-uppercase" })</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                        }
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                        }
                        @if (Session["CartGUID"] != null)
                        {
                            <li>
                                <a href="~/MyCart">
                                    <i class="fa fa-shopping-cart"></i> @Html.QuantityInCart(Session["CartGUID"].ToString())
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="h1 page-header">
                        Blog Posts
                    </div>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                    }
                </div>
            </div>
            <div class="row">
                @for (int i = 0; i < Model.Count(); i++)
                {
                <div class="col-sm-4">
                    <div class="panel panel-default post-box">
                        @if (i % 3 == 0)
                            {
                            <div class="panel-heading post-box-3"></div>
                            }
                            else if (i % 2 == 0)
                            {
                            <div class="panel-heading post-box-2"></div>
                            }
                            else if (i % 1 == 0)
                            {
                            <div class="panel-heading post-box-1"></div>
                            }
                        <div class="panel-body">
                            <p class="text-muted text-center category"><em>@Model.ElementAt(i).Date.ToShortDateString()</em></p>

                            <p class="text-center"><a href="~/Blog/Details/@Model.ElementAt(i).PostID">@Model.ElementAt(i).Title</a></p>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="text-center">
                                    <a class="pull-right" data-toggle="modal" href="#delete-comment" data-whatever="@Model.ElementAt(i).PostID">
                                        <span class="answer"><i class="fa fa-remove"></i> delete</span>
                                    </a>

                                    <a href="~/Blog/Comment/@Model.ElementAt(i).PostID">
                                        <span class="text-danger">@Html.CommentState(Model.ElementAt(i).DisableComment)</span>
                                    </a>

                                    <a href="~/Blog/Edit/@Model.ElementAt(i).PostID" class="pull-left">
                                        <span class="answer">
                                            <i class="fa fa-edit"></i> edit
                                        </span>
                                    </a>
                                </div>
                                }
                            <p></p>
                        </div>
                    </div>
                </div>
                    if (i % 3 == 2 && i > 1)
                    {
                <span class="clearfix"></span>
                    }
                }
            </div>

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
            @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page
}))

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">Tunasha</div>
                    <p>
                        At Tunasha, we are on a mission to help our customers with all they need for their electronics
                        projects. Tools, components, techniques, lessons, we've got it all.
                    </p>
                </div>
                <div class="col-md-3">
                    <p><b>Contact Us</b></p>

                    <div class="address-panel">
                        <span class="flag nigeria"></span>
                        <strong>1, Jerry Iriabe, Lekki, Lagos NG</strong>
                        <br>
                        <p>+234 8060989216 <br />+234 8137755683</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <p>
                        <strong>Email: </strong>
                        <span id="contact_mail">akinsegun06@yahoo.com</span>
                    </p>
                    <p>&copy;2016 Tunasha. All Rights Reserved.</p>
                </div>
                <div class="col-md-3">
                    <p><b>Social Media</b></p>
                    <ul class="social-media">
                        <li>
                            <a>
                                <div class="social-icon-div" id="twitter"><i class="fa fa-twitter fa-2x"></i></div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="social-icon-div" id="facebook"><i class="fa fa-facebook-f fa-2x"></i></div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
</body>

<div class="modal fade" id="delete-comment" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title text-center text-danger">Delete</h2>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you sure you want to delete the question</p>

                @using (Html.BeginForm("Delete", "Blog", new { }, FormMethod.Post))
                {
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" class="question-id">
                <button type="submit" class="btn btn-primary text-uppercase">Delete</button>
                }

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/siteScript")

<script type="text/javascript">
    $('#delete-comment').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('whatever')
        var modal = $(this)
        modal.find('.question-id').val(id)
    })
</script>

<div class="modal fade" id="subscribe-modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title text-center">Newsletter Sign Up</h2>
            </div>
            <div class="modal-body">
                <p class="text-center">Sign Up and get awesome articles on electronics projects every two weeks</p>
                <form>
                    <input class="form-control input-lg" type="email" placeholder="Email Address">
                    <button type="submit" class="btn btn-primary text-uppercase">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
